<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="?page=home">Ted & Kristi 2/22/2014</a>-->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a id="home" href="?page=home">Home</a></li>
                <li><a id="directions" href="?page=directions" >Directions</a></li>
                <li><a id="registry" href="?page=registry" >Registry</a></li>
                <li><a id="our_story" href="?page=ourstory" >Our Story</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="contact_us" href="mailto:wedding@steinmann.us">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>