<!-- Nav tabs -->
<ul class="nav nav-pills">
  <li><a href="#nd" data-toggle="tab">North Dakota</a></li>
  <li><a href="#sd" data-toggle="tab">South Dakota</a></li>
</ul>

<div class="row" >
	<div class="col-md-4">
		<h2>To the Church</h2>
	</div>
	<div class="col-md-4">
		<h2>To the Hotel</h2>
	</div>
	<div class="col-md-4">
		<h2>To the Reception</h2>
	</div>
</div>


		<!-- Tab panes -->
		<div class="row tab-content col-md-8">
			<div class="col-md-12">
				<!-- North Dakota -->
				<div class="row tab-pane active" id="nd">
					<div class="col-md-6">
						<h3 class="text-muted">From North Dakota</h3>
						<ul>
							<li>Take <strong>I-94</strong> East to <strong>I-494 S</strong></li>
							<li>Take the <strong>Pilot Knob</strong> exit</li>
							<li>Turn right at <strong>Pilot Knob</strong> (heading North)</li>
							<li>Turn right at the 3rd cross street <strong>Northland Drive</strong></li>
						</ul>
					</div>
					<div class="col-md-6">
						<h3 class="text-muted">From North Dakota</h3>
						<ul>
							<li>Take <strong>I-94</strong> East to <strong>I-494 S</strong></li>
							<li>Take exit <strong>71</strong> for <strong>County Route 31/Pilot Knob Rd</strong></li>
							<li>Turn right at <strong>Pilot Knob</strong> (heading North)</li>
							<li>Turn right on to <strong>Northland Drive</strong></li>
						</ul>
					</div>
				</div>


				<!-- South Dakota -->
				<div class="row tab-pane active" id="sd">
					<div class="col-md-6">
						<h3 class="text-muted">From South Dakota</h3>
						<ul>
							<li>Take 94E to 494S to Pilot Knob</li>
							<li>Take Pilot Knob South to</li>
						</ul>
					</div>
					<div class="col-md-6">
						<h3 class="text-muted">From South Dakota</h3>
						<ul>
							<li>Take <strong>I-35</strong> North to <strong>I-35E N</strong></li>
							<li>Take exit <strong>97A-97B</strong> for <strong>County Road 31/Pilot Knob Rd</strong></li>
							<li>Turn left on <strong>Pilot Knob</strong>, head North for 2.4 miles</li>
							<li>Turn right at the 3rd cross street <strong>Northland Drive</strong></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- The Reception -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-muted">From The Hotel</h3>
				<p>Please note there is a shuttle from the hotel that will bring guests to the reception and home.</p>
			</div>
			<div class="col-md-12">
				<h3 class="text-muted">From the Church</h3>
				<p>Please note the reception does not begin until 5 and we are not allowed in until that time.</p>
			</div>
		</div>
