<div class="container">
    <div class="jumbotron">
    <img src="assets/img/ted-and-kristi-ring.jpg" alt="Ted & Kristi Ring" class="img-responsive" >
    </div>
    <div class="row marketing" style="padding-left:30px;">
        <div class="col-lg-4">
        <p><a href="http://www1.macys.com/registry/wedding/guest/?registryId=6031261" target="_blank">
            <img src="assets/img/macys.png" />
        </a></p>
        </div>
        <div class="col-lg-4">
        <p><a href="http://www.crateandbarrel.com/Gift-Registry/Kristi-Tramp-and-Ted-Steinmann/r5095612" target="_blank">
            <img src="assets/img/cratelogo.png" />
        </a></p>
        </div>
        <div class="col-lg-4">
            <p><a href="http://www.target.com/RegistryGiftGiverCmd?isPreview=false&status=completePageLink&listId=jQPNH6i4MLcuFetnXS7_3Q&registryType=&cumulativeTime=-1&isAjax=false&noOfPings=" target="_blank">
                <img src="assets/img/Target-logo.gif"  />
            </a></p>
        </div>
    </div>
</div>